/* Estilos para etiquetas y entradas */
label {
    margin: 0;
    margin-bottom: 8px;
    font-family: "inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
input[type="email"] {
    height: 60px;
    width: 385px;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 32px;
    box-sizing: border-box;
    margin-top: 8px;

    font-family: "inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
input::placeholder {
    color: #838383;
    font-family: "inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-align: bottom;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

/* Botón de enviar */
.form__button {
    height: 60px;
    width: 385px;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    font-family: "inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #2f80ed;
    color: white;
    border: none;
    border-radius: 4px;
}

.form__button:hover {
    background-color: hsla(216, 83%, 56%, 0.7);
}
.form__checkbox {
    display: flex;
    justify-content: center;
}
